<md-content class="contents">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Interfacing Systems Details">
        <md-content class="md-padding contents">
			<div layout="column" layout-align="center" style="padding:25px;">
				<md-card style="width:100%;height:100%;" ng-class="{strike:div2}">
				<md-card-content>
				<div layout="row">
					<div flex="5"></div>
          			<md-input-container style="margin-right: 10px;" class="my-dropdown">
           				 <label>{{formData[0].question}}</label>
            			<md-select ng-model="formmodel1" >
							<md-option  ng-repeat="item in formData[0].values  track by $index" ng-value='{{item}}'>{{item.name}}</md-option>	
             			</md-select>
         			</md-input-container>
					 <div flex="10"></div>
		 			 <md-input-container style="margin-right: 10px;" class="my-dropdown">
           				 <label>{{formData[1].question}}</label>
           				 <md-select ng-model="formmodel2" >
							<md-option  ng-repeat="item in formData[1].values  track by $index" ng-value='{{item}}'>{{item.name}}</md-option>	
             			</md-select>
        			 </md-input-container>
				</div>
				<div layout="row">
					<div flex="5"></div>
					<md-input-container style="margin-right: 10px;" class="my-dropdown">
           				 <label>{{formData[2].question}}</label>
            			<md-select ng-model="formmodel3" >
							<md-option  ng-repeat="item in formData[2].values  track by $index" ng-value='{{item}}'>{{item.name}}</md-option>	
             			</md-select>
					 </md-input-container>
					 <div flex="10"></div>
					 <md-input-container style="margin-right: 10px;" class="my-dropdown">
           				 <label>{{formData[3].question}}</label>
            			<md-select ng-model="formmodel4" >
							<md-option  ng-repeat="item in formData[3].values  track by $index" ng-value='{{item}}'>{{item.name}}</md-option>	
             			</md-select>
					 </md-input-container>
				</div>
				<div layout="row">
					<div flex="5"></div>
					<md-input-container style="margin-right: 10px;" class="my-dropdown">
           				 <label>{{formData[4].question}}</label>
            			<md-select ng-model="formmodel5" >
							<md-option  ng-repeat="item in formData[4].values  track by $index" ng-value='{{item}}'>{{item.name}}</md-option>	
             			</md-select>
					 </md-input-container>
					 <div flex="10"></div>
					 <md-input-container style="margin-right: 10px;" class="my-dropdown">
           				 <label>{{formData[5].question}}</label>
            			<md-select ng-model="formmodel6" >
							<md-option  ng-repeat="item in formData[5].values  track by $index" ng-value='{{item}}'>{{item.name}}</md-option>	
             			</md-select>
					 </md-input-container>
				</div>
				<div layout="row">
					<div flex="5"></div>
					<md-input-container style="margin-right: 10px;" class="my-dropdown">
           				 <label>{{formData[6].question}}</label>
            			<md-select ng-model="formmodel7" >
							<md-option  ng-repeat="item in formData[6].values  track by $index" ng-value='{{item}}'>{{item.name}}</md-option>	
             			</md-select>
					 </md-input-container>
					 <div flex="10"></div>
					 <md-input-container style="margin-right: 10px;" class="my-dropdown">
           				 <label>{{formData[7].question}}</label>
            			<md-select ng-model="formmodel8" >
							<md-option  ng-repeat="item in formData[7].values  track by $index" ng-value='{{item}}'>{{item.name}}</md-option>	
             			</md-select>
					 </md-input-container>
				</div>
				<div layout="row">
					<span flex></span>
					<md-button class="md-raised md-primary" ng-click="changes()">Next</md-button>
					
				</div>
				</md-card-content>
				</md-card>



				<md-card style="width:100%;height:100%;" ng-class="{strike:div1}">
				<md-card-content>
				<div layout="row">
					<div flex="5"></div>
          			<md-input-container style="margin-right: 10px;" class="my-dropdown">
           				 <label>{{formData[8].question}}</label>
            			<md-select ng-model="formmodel9" >
							<md-option  ng-repeat="item in formData[8].values  track by $index" ng-value='{{item}}'>{{item.name}}</md-option>	
             			</md-select>
         			</md-input-container>
					 <div flex="10"></div>
		 			 <md-input-container style="margin-right: 10px;" class="my-dropdown">
           				 <label>{{formData[9].question}}</label>
           				 <md-select ng-model="formmodel10" >
							<md-option  ng-repeat="item in formData[9].values  track by $index" ng-value='{{item}}'>{{item.name}}</md-option>	
             			</md-select>
        			 </md-input-container>
				</div>
				<div layout="row">
					<div flex="5"></div>
					<md-input-container style="margin-right: 10px;" class="my-dropdown">
           				 <label>{{formData[10].question}}</label>
            			<md-select ng-model="formmodel11" >
							<md-option  ng-repeat="item in formData[10].values  track by $index" ng-value='{{item}}'>{{item.name}}</md-option>	
             			</md-select>
					 </md-input-container>
					 <div flex="10"></div>
					 <md-input-container style="margin-right: 10px;" class="my-dropdown">
           				 <label>{{formData[11].question}}</label>
            			<md-select ng-model="formmodel12" >
							<md-option  ng-repeat="item in formData[11].values  track by $index" ng-value='{{item}}'>{{item.name}}</md-option>	
             			</md-select>
					 </md-input-container>
				</div>
				<div layout="row">
					<div flex="5"></div>
					<md-input-container style="margin-right: 10px;" class="my-dropdown">
           				 <label>{{formData[12].question}}</label>
            			<md-select ng-model="formmodel13" >
							<md-option  ng-repeat="item in formData[12].values  track by $index" ng-value='{{item}}'>{{item.name}}</md-option>	
             			</md-select>
					 </md-input-container>
					 <div flex="10"></div>
					 <md-input-container style="margin-right: 10px;" class="my-dropdown">
           				 <label>{{formData[13].question}}</label>
            			<md-select ng-model="formmodel14" >
							<md-option  ng-repeat="item in formData[13].values  track by $index" ng-value='{{item}}'>{{item.name}}</md-option>	
             			</md-select>
					 </md-input-container>
				</div>
				<div layout="row">
					<div flex="5"></div>
					<md-input-container style="margin-right: 10px;" class="my-dropdown">
           				 <label>{{formData[14].question}}</label>
            			<md-select ng-model="formmodel15" >
							<md-option  ng-repeat="item in formData[14].values  track by $index" ng-value='{{item}}'>{{item.name}}</md-option>	
             			</md-select>
					 </md-input-container>
					 <div flex="10"></div>
					 <md-input-container style="margin-right: 10px;" class="my-dropdown">
           				 <label>{{formData[15].question}}</label>
            			<md-select ng-model="formmodel16" >
							<md-option  ng-repeat="item in formData[15].values  track by $index" ng-value='{{item}}'>{{item.name}}</md-option>	
             			</md-select>
					 </md-input-container>
				</div>
				<div layout="row">
					<span flex></span>
					<md-button class="md-raised md-primary" ng-click="changes()">previous</md-button>
				</div>
				</md-card-content>
				</md-card>


		</div>
        </md-content>
      </md-tab>
      <md-tab label="Return on Investment Analysis">
        <md-content class="md-padding my-content contents">
		 <div layout="column" layout-align="center" style="padding:25px;">
				<md-card style="width:100%;height:100%;" ng-class="{strike:div3}" >
				<md-card-content>
				<div layout="row">
					<span flex="5"></span>
					<md-input-container class="md-block my-text">
						<label>{{formData[16].question}}</label>
						<input ng-model="formmodel17">
					</md-input-container>
					<span flex="10"></span>
					<md-input-container class="md-block my-text">
						<label>{{formData[17].question}}</label>
						<input ng-model="formmodel18">
					</md-input-container>
				</div>
			
				<div layout="row">
					<span flex="5"></span>
					<md-input-container class="md-block my-text">
						<label>{{formData[18].question}}</label>
						<input ng-model="formmodel19">
					</md-input-container>
					<span flex="10"></span>
					<md-input-container class="md-block my-text">
						<label>{{formData[19].question}}</label>
						<input ng-model="formmodel20">
					</md-input-container>
				</div>
				<div layout="row">
					<span flex="5"></span>
					<md-input-container class="md-block my-text">
						<label>{{formData[20].question}}</label>
						<input ng-model="formmodel21">
					</md-input-container>
					<span flex="10"></span>
					<md-input-container class="md-block my-text">
						<label>{{formData[21].question}}</label>
						<input ng-model="formmodel22">
					</md-input-container>
				</div>
				<div layout="row">
					<span flex="5"></span>
					<md-input-container class="md-block my-text">
						<label>{{formData[22].question}}</label>
						<input ng-model="formmodel23">
					</md-input-container>
					<span flex="10"></span>
				</div>
				<div layout="row">
					<span flex></span>
					<md-button class="md-raised md-primary" ng-click="changess()">Next</md-button>
				</div>
			</div>
			<md-card style="width:100%;height:100%;" ng-class="{strike:div4}">
				<md-card-content>
				<div layout="row">
					<div flex="5"></div>
					<md-input-container class="md-block my-text">
						<label>{{formData[23].question}}</label>
						<input ng-model="formmodel24">
					</md-input-container>
					<span flex="10"></span>
					<md-input-container class="md-block my-text">
						<label>{{formData[24].question}}</label>
						<input ng-model="formmodel25">
					</md-input-container>
				</div>
				<div layout="row">
					<span flex="5"></span>
					<md-input-container class="md-block my-text">
						<label>{{formData[25].question}}</label>
						<input ng-model="formmodel26">
					</md-input-container>
					<span flex="10"></span>
					<md-input-container class="md-block my-text">
						<label>{{formData[26].question}}</label>
						<input ng-model="formmodel27">
					</md-input-container>
				</div>
				<div layout="row">
					<span flex="5"></span>
					<md-input-container style="margin-right: 10px; width:30%">
            			<label>{{formData[28].question}}</label>
            			<md-select ng-model="formmodel28" >
							<md-option  ng-repeat="item in formData[28].values track by $index" ng-value='{{item}}'>{{item.name}}</md-option>	
             			</md-select>
  					</md-input-container>
					<span flex="10"></span>
					<md-input-container class="md-block my-text">
						<label>{{formData[27].question}}</label>
						<input ng-model="formmodel29">
					</md-input-container>
				</div>
				<div layout="row">
					<span flex="100"></span>
				</div>
				<div layout="row">
					<span flex></span>
					<md-button class="md-raised md-primary" ng-click="changess()">previous</md-button>
				</div>
				</md-card-content>
				</md-card>
			
        </md-content>
      </md-tab>
      <md-tab label="Process Criticality">
        <md-content class="md-padding contents">
		<div layout="column" layout-align="center center">
		<md-card style="width:60%;height:100%;">
		<md-card-content>
		 <div layout="column" layout-align="center">
         <div layout="row">
			 <div flex>{{formData[29].question}}</div>
			 <div flex>
				<md-input-container style="margin-right: 10px;" class="my-dropdown">
           		 <md-select ng-model="formmodel30" >
					<md-option  ng-repeat="item in formData[29].values  track by $index" ng-value='{{item}}'>{{item.name}}</md-option>	
             	</md-select>
         		</md-input-container>
			 </div>  
		 </div>
		<div layout="row">
			 <div flex>{{formData[30].question}}</div>
			 <div flex>
				<md-input-container style="margin-right: 10px;" class="my-dropdown">
           			 <md-select ng-model="formmodel31" >
						<md-option  ng-repeat="item in formData[30].values  track by $index" ng-value='{{item}}'>{{item.name}}</md-option>	
             		</md-select>
         		</md-input-container>
			 </div>
		 </div>
		 <div layout="row">
			 <div flex>{{formData[31].question}}</div>
			 <div flex>
				<md-input-container style="margin-right: 10px;" class="my-dropdown">
           			 <md-select ng-model="formmodel32" >
						<md-option  ng-repeat="item in formData[31].values  track by $index" ng-value='{{item}}'>{{item.name}}</md-option>	
             		</md-select>
         		</md-input-container>
			 </div>
		 </div>
		 <div layout="row">
			 <div flex>{{formData[32].question}}</div>
			 <div flex>
				<md-input-container style="margin-right: 10px;" class="my-dropdown">
           			 <md-select ng-model="formmodel33" >
						<md-option  ng-repeat="item in formData[32].values  track by $index" ng-value='{{item}}'>{{item.name}}</md-option>	
             		</md-select>
         		</md-input-container>
			 </div>
		 </div>
		 <div layout="row">
					<span flex></span>
					<md-button class="md-raised md-primary" ng-click="submit()">Submit</md-button>
				</div>
		</div>
		</md-card-content>
		</md-card>
		</div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>